@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

header {
    height: 10vh;
    box-shadow: 0 0 20px;
}

main {
    min-height: 80vh;
    padding: 1rem;
}

footer {
    height: 10vh;
    box-shadow: 0 0 20px;
}